extends ../_includes/layout

block variables
    - var template = 'collections'

block content
  .collections
    .collections__wrapper
    .collections__titles
      each collection, index in collections
        .collections__titles__label=`${home.data.collection} ${Numbers(index)}`
        .collections__titles_title=collection.data.title
      .collections__gallery
        .collections__gallery__wrapper
      each collection in collections
        each item in collection.data.products
          a.collections__gallery__media
            figure.collections__gallery__media
              img.collections__gallery__media__image(alt=item.product.data.image.alt src=item.product.data.image.url)

      .collections__content
        each collection in collections
          article.collections__article
            h2.collection__article__title=`${collection.data.title} ${home.data.collection}`
            p.collection__article__description=collection.data.description


